body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
h1, h2 {
  margin-left: 25%;

}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: blue;
  text-decoration: none;
  &:visited {
    color: blue;

  }
  &:hover {
    text-decoration: underline;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.navbar-header{
    background-color: #f8f8f8;
}
.navbar-logo{
  height: 50px;
  width: 200px;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    text-align: center ;
    font-size: 16px ;
    font-family: verdana ;
    width: 600px ;
    height: 50px ;
    background-color: #f6f6f6 ;
}
.form-control{
    float: right;
    padding-right: 15px;
    border-radius: 5px;
    height: 20px;
}
.form-control #searchsubmit{
    padding-right: 25px;
}
table{
    margin-left: 25%;
}
.collapse{
  position:relative;
  margin-top: -50px;
}
.center{
  margin-left: 25%;
}
.toc{
  margin-left: 25%;
  
}
