<body bgcolor="#f6f6f6">
    <div class="box">
        <h3 class="header"></h3>
        <hr/>
    <div class="navigation">
        <a href="#">Previous lesson</a>
        <a href="#">Next lesson</a>
    </div>
</body>
